* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #2B4B82;
  color: #fff;
}
main {
  display: grid;
  grid-template-columns: 2fr 0.6fr 0.2fr;
  justify-items: end;
  padding: 2vh 0;
}